
*{
    box-sizing: border-box;
    font-family: $mainFont;
}


h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul{
    padding: 0;
    margin: 0;
}  


body{
    background-color:$keyColor;
    padding-bottom: 10rem;
    position: relative;
    min-height: 100vh;
}


ul{
    list-style: none;
}


a{
    text-decoration: none;
}


p{
    font-weight:$fontNormal;
    margin: 1rem 1.2rem;
    font-size: 1.2rem;
    color:$darkColor;
}


h1{
    font-size: 2.5rem;
    font-weight:$fontSemibold;
}


h2{
    font-weight:$fontNormal;
    font-size: 2.5rem;
    color:$darkColor;
    margin: 1.5rem 1.2rem;
}


h3{
    margin: 1rem 1.2rem; 
    font-weight:$fontNormal;
}


h4{
    margin: 1rem 1.2rem; 
    font-weight:$fontSemilight; 
}


nav{
    background-color:$bgColor;
}


header{
    img{
        height: 500px;
    }
}

.disabled{
    display: none!important;
}

.bg-color{
    background-color:$darkColor;
}


.wrapper{
    background-color:$keyColor;
}


.margin{
    margin-top: 3rem;
}


section{
    ul{
        li{
            font-weight:$fontNormal;
            margin: .7rem 1.9rem;
            font-size: .95rem;
        }
    }  
}


span{
    b{
        font-weight:$fontNormal;
        font-size: 1.3rem;
        margin: .8rem .5rem;
        display: block;
    }
}

//banner y encabezado

.banner{
    width: 100%;
    border-style: solid;
    border-width: .1rem;
    border-color:$darkColor;
}    


.encabezado{
    text-align: center;
    color:$whiteColor;
    background-color:$darkColor;
    padding: .5rem;
    border-style: solid;
    border-width: .8rem;
    border-color:$darkColor;
}

//footer

footer{
    display:flex;
    justify-content: center;
    padding: 1.5rem 1rem;
    align-items: center;
    background-color:$bgColor;
    opacity: 0.96;
    position: absolute;
    bottom: 0;
    width: 100%;
    svg{
        width: 2.2rem;
        margin-left: 1.5rem;
    }
    ul{
        li{
            padding: .2rem;
            margin: .2rem 0;
            font-size: 1.1rem;
            font-weight:$fontMedium;    
            a{
                color: #c8c8c8;
                &:hover{
                    color:$keyColor;    
                }
            }
        }
    }
    .div-border{
        border-left: solid 2px $greyColor;
        padding: 0 2rem;
        margin: 0 1rem;
    }
    .bi-instagram{
        fill:#c8c8c8;
    }
}

//pagina error 404
.error-404{
    display: flex;
    flex-direction: row;
    justify-content: center;
    img{
        height: 700px;
    }
}


.btn-error{
    @extend .btn-submit;
    width: 250px!important;
    margin-bottom: 2rem;
}

//pagina carrito
.carrito-esta-vacio{
    color: gray;
}

.carrito-esta-comprado{
    color: gray;
}

.tabla-carrito{
    width: 80%;
}

.cart-icon{
    width: 35px;
    margin-right: 10px;
    fill: white;
}

.carrito-header{
    background-color: $btnColor;
    padding: 15px;
    width: 80%;
    border-radius: .5rem;
    h1{
        color: white;
        font-size: 2.2rem;
        font-weight: 200;
    }
}

.qualytech-cart{
    background-color: $btnColor;
    padding: 15px;
    width: 35%;
    border-radius: 1rem;
    margin: 20px 0;
    img{
        width: 20%;
    }
    h2{
        font-size: 1.4rem;
        color: white;
        margin-top: 30px;
    }
}

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
    .carrito-productos{
        display: flex;
        justify-content: space-between;
        background-color: gray;
        padding: .5rem;
        border-radius: 1rem;
        .carrito-boton{
            border: none;
            background-color: transparent;
            width: 40px;
            margin-right: 1rem;
            align-self: center;
            fill: rgb(134, 0, 0);
        }
        h3{
            font-weight: 400;
            color: white;
        }
        p{
            margin-top: 2rem;
            font-size: 1.3rem;
            text-align: center;
        }
        .p-fix{
           width: 50%;
        }
    }
    .carrito-imagen{
        width: 10rem;
        border-radius: 1rem;
        margin-left: 1rem;
        margin-top: -.6rem;
        margin-bottom: .5rem;
    }
}

.carrito-acciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
    .carrito-btn{
        @extend .btn-submit;
        width: 150px!important;
        border-style: none;
        padding: .5rem;
        border-radius: .5rem;
    }
    .carrito-acciones-total{
        display: flex;
        .bg-carrito{
            text-align: center;
            width: 60%;
            background-color: gray;
            border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem;
            padding: 0;
        }
        .carrito-btn2{
            @extend .btn-submit;
            width: 150px!important;
            border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem;
            border-style: none;
            padding: .7rem;
        }
    }
}




